.devHistory {
    color: var(--color-text-4);
}

.devHistory p{
    font-size: 1.2rem;
    color: var(--color-text-3);
    font-weight: bold;
}

.devHistory [x-title] {
    font-weight: bold;
}

.devHistory [x-list] {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 0.8rem;
}