@import url('colors.css');
@import url('top-infos.css');
@import url('experience.css');
@import url('projects.css');
@import url('skills.css');
@import url('certificate.css');
@import url('devHistory.css');

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

[x-justify] {
    text-align: justify;
}