.projects {
    color: var(--color-text-4);
}

.projects p{
    font-size: 1.2rem;
    color: var(--color-text-3);
    font-weight: bold;
}

.projects [x-list] {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 0.8rem;
}

.projects [x-title] [x-company]{
    font-weight: bold;
}

.projects [x-tecs] {
    color: var(--color-text-2);
    font-size: 0.6rem;
}

.projects [x-item] {
    display: flex;
    flex-direction: column;
    gap: 2px;
}