<div class="experience">
    <p>Experiência</p>
    <div s-loop="experience" x-list>

        <div x-item>
            <div x-title>
                <span x-n="title" x-company></span>,
                <span x-n="state" ></span> -
                <span x-n="job"></span>
            </div>
            <div x-date>
                <span x-n="from"></span> -
                <span x-n="to"></span>
            </div>
            <div x-n="description" x-justify></div>
        </div>

    </div>
</div>